.header{
  top: 0;
  width: 100%;
  height: 46px;
  z-index: 60;
  padding: 0 8px;
  display: flex;
  position: fixed;
  align-items: center;
  box-shadow: 0 0 4px #3b3b3b;
  justify-content: space-between;
  background-color: var(--Primary-color);

  &-title{
    color: white;
    font-size: 22px;
  }

  &-open-search{
    top: 46px;
  }

  &-search-icon{
    color: var(--Text-white);
    font-size: 32px;
  }

  &-user{
    color: var(--Text-white);
    font-size: 35px;
  }
}


@media (min-width: 700px) {
  .header {
    height: 60px;
    padding: 0 12px;
  
    &-title{
      cursor: pointer;
      font-size: 26px;
    }

    &-search-icon{
      display: none;
    }

    &-user{
      cursor: pointer;
      font-size: 42px;
    }
  }
}