.user_navbar{
  position: absolute;
}

.user_options{
  top: -600px;
  right: -100%;
  width: min(400px, 100%);
  height: 500px;
  position: absolute;
  box-shadow: 0 3px 8px hsla(0, 0%, 29%, 0.582);
  background-color: var(--Light-background);
  display: flex;
  padding: 20px 0;
  row-gap: 40px;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s, right 0.4s;
  border-bottom-left-radius: 10px;


  &-darckMode{
    width: 70px;
    height: 30px;
    position: relative;
    z-index: 2;
    
    &-icons{
      width: 100%;
      height: 100%;
      display: flex;
      padding: 0 4px;
      border: #686868 1px solid;
      align-items: center;
      border-radius: 26px;
      justify-content: space-between;
    
      &-moon, &-sun{
        font-size: 17px;
      }
    }

    &-circle{
      top: 0px;
      left: 0;
      width: 30px;
      height: 30px;
      position: absolute;
      border-radius: 50%;
      transition: left 0.4s;
      background-color: var(--Button-color);
    }

    &-circleActive{
      left: 40px;
    }
  }

  &-close{
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 32px;
    z-index: 2;
  }

  &-list{
    width: 100%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;

    &-option{
      width: 100%;
      display: flex;
      font-size: 18px;

      &-link{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
      }

      &-linkActive{
        background-color: var(--Primary-color);
      }

      &-text{
        width: 180px;
        display: flex;
        column-gap: 10px;
      }
    }
  }

  &-loginAndRegister{
    color: var(--Text-white);
    height: 56px;
    border: none;
    padding: 0 18px;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--Button-color);
  }

  &-icon{
    color: #b8b8b8;
    opacity: 60%;
    position: absolute;
    font-size: 28px;
  }

  &-bowl-food{
    top: 14px;
    left: 20px;
    rotate: -30deg;
    font-size: 35px;
  }

  &-carrot{
    top: 50px;
    left: 140px;
  }

  &-burger{
    top: 50px;
    right: 50px;
    rotate: 40deg;
  }

  &-mug-hot{
    top: 130px;
    right: 50px;
    font-size: 40px;
  }

  &-wine-glass{
    top: 150px;
    left: 30px;
    font-size: 30px;
    rotate: -20deg;
  }

  &-pizza-slice{
    top: 254px;
    right: 10px;
    font-size: 50px;
    rotate: 50deg;
  }

  &-glass-citrus{
    top: 280px;
    left: 20px;
    font-size: 30px;
    rotate: 20deg;
  }

  &-hotdog{
    bottom: 20px;
    right: 30px;
    font-size: 35px;
  }

  &-drumstick-bite{
    bottom: 130px;
    left: 100px;
    rotate: 200deg;
    font-size: 34px;
  }

  &-cookie-bite{
    bottom: 26px;
    left: 30px;
    font-size: 30px;
  }
}

.user_options-open{
  top: 0;
  right: 0;
}


@media (min-width: 700px) {
  .user_options{
    width: 340px;
    height: 480px;
    transition: top 0.7s, right 0.6s;

    &-darckMode{
      cursor: pointer;
    }

    &-close{
      cursor: pointer;
    }

    &-list-option-link:hover{
      background-color: #a8e05c;
    }

    &-loginAndRegister{
      cursor: pointer;
    }
  }
}