.recipeDetails{
    min-height: 85vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;


    &__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        width: 95%;
        height: 100%;

        @media (min-width: 900px) {
            flex-direction: row;
        }
    }
}

