.search_recipes{
  top: 0;
  width: 100%;
  height: 46px;
  display: flex;
  z-index: 60;
  position: fixed;
  transition: top 0.4s;
  align-items: center;

  &-close{
    right: 10px;
    z-index: 4;
    color: var(--Text-gray);
    font-size: 26px;
    position: absolute;
  }

 

  &-form{
    width: 100%;
    height: 100%;
    z-index: 2;
    border-bottom: 1px solid #747474;
  }

  &-suggestions{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: height 0.5s, padding-top 0.5s;
    overflow: hidden;
    background-color: white;
    // padding: 0 10px;
    
    &.open{
      padding-top: 60px;
      height: 200px;
    }
  }


  &-input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    font-size: 18px;
    border-radius: none;
  }

  &-btn{
    width: 34px;
    height: 34px;
    display: none;
  }
}


.header_recipes{
  display: none;
}


@media (min-width: 700px) {
  .search_recipes{
    display: none;
  }

  
  .header_recipes{
    display: block;
    height: 36px;
    width: 296px;
    position: relative;
    
    &-form{
      height: 100%;
      display: flex;
      top: 0;
      z-index: 4;
      width: 296px;
      position: absolute;
    }

    &-suggestions{
      top: 0;
      width: 260px;
      height: 100%;
      z-index: 2;
      position: absolute;
      overflow: auto;
      transition: height 0.5s, padding-top 0.5s;
      background-color: white;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &::after{
        content: '';
        background-color: #bdbdbd;
        top: 36px;
        width: 100%;
        height: 1px;
        z-index: 10;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s;
      }
      
      &.open{
        height: 200px;
        padding-top: 50px;

        &::after{
          opacity: 100%;
        }
      }
    }

    &-input{
      width: 260px;
      height: 36px;
      outline: none;
      padding: 0 8px;
      border: none;
      display: flex;
      position: relative;
      font-size: 14px;
      border-radius: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  
    &-btn{
      width: 36px;
      height: 36px;
      border: none;
      padding: 0;
      background-color: #a8e05c;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &-icon{
      color: var(--Text-gray);
      cursor: pointer;
      font-size: 26px;
    }
  }
}