.search_recipes-suggestions-element{
  padding: 3px 10px;
}


@media (min-width: 700px) {
  .header_recipes-suggestions-element{
    cursor: pointer;
    padding: 3px 10px;
    font-size: 14px;
    transition: color 0.1s, background-color 0.1s;

    &:hover{
      color: #636363;
      background-color: #f1f1f1;
    }
  }
}