


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


    &__container{
        min-height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__card {
    width: 300px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background-color: rgb(161, 161, 161);
    border-radius: 5px;
    position: relative;
    
        @media (min-width: 700px){
            width: 600px;
        }
   }
   


   /*Inputs*/
   &__field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: var(--Light-background);
    border-radius: 4px;
    padding: 1em 1em;
   }
   
   
   
   &__input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--Primary-color);
   }
   
   /*Text*/
   &__title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--Text-white);
    font-weight: 700;
    letter-spacing: 1px;
   }
   
   /*Buttons*/
   &__btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 1em 3em;
    background-color: var(--Primary-color);
    color: var(--Text-white);
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--Primary-color);
    @media (min-width: 700px){
         padding: 1em 10em;
    }
    
   }
   
   &__btn-link {
    color: var(--Text-white);
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
   }
   
   /*Hover & focus*/
   &__field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   &__btn:hover {
    border: 1px solid var(--Text-white);
    background-color: transparent;
    color: var(--Text-white);
    box-shadow: 0 8px 24px 0 rgb(255, 255, 255);
   }
   
   &__btn-link:hover {
    color: var(--Primary-color);
   }
   
}

   
   .input-icon {
    height: 1em;
    width: 1em;
    fill: var(--Primary-color);
    color: var(--Primary-color);
   }

   
   .login-icon-{
    &carrot{
        position: absolute;
        top: 5px;
        left: 30px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 45px;
        transform: rotate(30deg);
        @media (min-width: 700px){
            font-size: 65px;
           }

       }

    &utensils{
        position: absolute;
        bottom: 20px;
        right: 15px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 45px;
        transform: rotate(-30deg);
        @media (min-width: 700px){
            font-size: 65px;
           }
    }
    &mug-hot{
        position: absolute;
        top: 20px;
        right: 10px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 45px;
        transform: rotate(30deg);
        
    }
    &pepper-hot{
        position: absolute;
        bottom: 10px;
        left: 55px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 20px;
        @media (min-width: 700px){
            font-size: 65px;
           }
    }
    &pizza-slice{
        position: absolute;
        bottom: 60px;
        left: 30px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 40px;
        transform: rotate(-90deg);
        
    }
    &ice-cream{
        position: absolute;
        bottom: 10px;
        right: 60px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 25px;
        transform: rotate(60deg);
        @media (min-width: 700px){
            font-size: 45px;
            right: 100px;

           }
    }
    &martini-glass-citrus{
        position: absolute;
        bottom: 80px;
        right: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 30px;
        transform: rotate(20deg);
        @media (min-width: 700px){
            font-size: 45px;
            top: 10px;
            right: 200px;
           }

    }
    &drumstick-bite{
        position: absolute;
        top: 50px;
        left: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 20px;
        transform: rotate(30deg);
        @media (min-width: 700px){
            font-size: 45px;
            top: 10px;
            left: 180px;
           }
        
    }
    &burger{
        position: absolute;
        bottom: 25px;
        left: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 30px;
        transform: rotate(-30deg);

    }
    &shrimp{
        position: absolute;
        bottom: 60px;
        right: 50px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 20px;
        transform: rotate(-30deg);
        @media (min-width: 700px){
            font-size: 35px;
            right: 80px;
            bottom: 70px;

           }
    }
    &wheat-awn{
        position: absolute;
        top: 45px;
        left: 55px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 20px;
        transform: rotate(-90deg);
        @media (min-width: 700px){
            font-size: 45px;
            left: 115px;
            top: 15px;

           }
        
    }
    &cookie-bite{
        position: absolute;
        top: 10px;
        right: 70px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 30px;
        transform: rotate(180deg);
        @media (min-width: 700px){
            font-size: 55px;

           }
    }
   }
  

 