:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  
  --Primary-color: #8cc63e;
  --Text-white: #ebebeb;
  --Text-gray: #666;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  padding-top: 46px;
}

h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root{
  height: 100%;
}